<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/unit</directory>
		</testsuite>
		<testsuite name="wpunit">
			<directory suffix="Test.php">tests/wpunit</directory>
		</testsuite>
	</testsuites>
	<php>
		<!-- Путь до wp-phpunit -->
		<const name="WP_PHPUNIT__DIR" value="vendor/wp-phpunit/wp-phpunit" />
	</php>
</phpunit>
